* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
}

.page-title {
  margin-top: 2rem;
  text-align: center;
}

.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
    justify-content: center;
}

.book {
    max-width: 500px;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.book img {
    margin-top: 2rem;
    width: 100%;
    object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.book .number {
  width: 3rem;
  height: 3rem;
  background-color: #ff2255;
  position: absolute;
  top:0;
  left:0;
  border-radius: 0 0 2rem 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.book .number p {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}


